# Global configuration 
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
MaxEmptyLinesToKeep: 3

# Close docstring re-format
ReflowComments: false
SortIncludes: false


# CPP
Language: Cpp
BreakBeforeBraces: Attach
PointerAlignment: Left
Standard: Cpp17
MacroDefinitionName: '^[A-Z][A-Z0-9]*(_[A-Z0-9]+)*$'


# C
Language: C
Extensions: 'h'
BreakBeforeBraces: Attach
PointerAlignment: Right
Standard: C11
MacroDefinitionName: '^[A-Z][A-Z0-9]*(_[A-Z0-9]+)*$'

