# build system related
/.vscode/
/.idea/
/cmake-build-debug/
.envs

# doc system related
/docs/_cache/
/docs/doxygen/build/
/docs/sphinx/build/
/docs/sphinx/source/_static
/docs/sphinx/source/_templates

# test framework
/test_package/test/export/TestResult.log